<%= form_with(url: search_path, method: :get, data: {controller: "search-form",search_form_target:"form",turbo_frame: "articles"}) do |form| %>
    <%= form.label :query, "HelpJuice Search Engine", class: "block mb-2" %>
    <div class="flex space-x-3">
      <%= form.text_field :search, class: "py-3 px-4 rounded border ring-0 focus:ring-4 focus:ring-orange-100 focus:shadow-none focus:border-orange-500 focus:outline-none" ,data: {action: "input->search-form#search"} ,value: params[:search] %>
      <%= form.submit 'Search', class: "px-4 py-3 font-medium bg-orange-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-orange-400 focus:ring-4 ring-0 focus:ring-orange-100" %>
    </div>
    <% end %>
     <%= turbo_frame_tag "articles" do %>
      <h2>Articles</h2>
      <%@articles.each do |article| %>
        <div><%=article.name%></div> 
        <% end %>
      <%end %>

 <div class="trend">
 <h2>Trending Searches</h2>
    <%@most_searched.each do |search| %>
      <div><%= search[:name] %></div>
    <% end %>
    </div>
  <div><%=link_to "See Your Search History",history_path%></div>
  <%=link_to "See Analytics",analytics_path%>